#card {
  /* margin-top: 2em;
  margin-bottom: 0.5em; */
  background-color: rgba(235, 233, 224, 0.877);
  /* color: white; */
}

.main {
  width: 100%; /* Adjust width to fill the entire width */
  /* justify-content: center; */
  align-items: center;
}



.frontPage-links {
  display: flex;
  margin: 4em;
}

.fp-button {
  margin-right: 0.5em;
}

.team-stats {
  display: flex;
}